@using Auction_Prop_Buyers.Models
@model Auction_Prop_Buyers.Models.RegisterViewModel
@{
    ViewBag.Title = "Sign up";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Auction-Prop.com | Sign Up</title>

<!-- Favicons -->
<link href="~/assets/img/fat.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<script src="https://kit.fontawesome.com/5cb4d6169e.js" crossorigin="anonymous"></script>

<!-- Vendor CSS Files -->
<link rel="stylesheet" href="~/Content2/bootstrap1.min.css" type="text/css">
<link rel="stylesheet" href="~/Content2/ionicons.min.css" type="text/css">
<link rel="stylesheet" href="~/Content2/animate.min.css" type="text/css">
<link rel="stylesheet" href="~/Content2/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="~/Content/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/Content/font-awesome.css" type="text/css">

<!-- Template Main CSS File -->
<link href="~/assets/css/style.css" rel="stylesheet">

<!-- ======= Property Search Section Start ======= -->
<div class="click-closed"></div>

<div class="box-collapse">
    <div class="title-box-d">
        <h3 class="title-d">Search Property</h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
        <form class="form-a">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="form-group">
                        <label for="Type">Keyword</label>
                        <input type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword">
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="Type">Type</label>
                        <select class="form-control form-control-lg form-control-a" id="Type">
                            <option>All Types</option>
                            <option>Residential</option>
                            <option>Commercial</option>
                            <option>Agricultural</option>
                            <option>Investment</option>
                            <option>Bank Instruction</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="city">City</label>
                        <select class="form-control form-control-lg form-control-a" id="city">
                            <option>All City's</option>
                            <option>Johannesburg</option>
                            <option>Pretoria</option>
                            <option>Durban</option>
                            <option>Cape Town</option>
                            <option>Nelspruit</option>
                            <option>Polokwane</option>
                            <option>East London</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="bedrooms">Bedrooms</label>
                        <select class="form-control form-control-lg form-control-a" id="bedrooms">
                            <option>Any</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>3+</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="garages">Garages</label>
                        <select class="form-control form-control-lg form-control-a" id="garages">
                            <option>Any</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>3+</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="bathrooms">Bathrooms</label>
                        <select class="form-control form-control-lg form-control-a" id="bathrooms">
                            <option>Any</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>3+</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-b">Search Property</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- ======= Property Search Section End ======= -->
<!-- ======= Intro and Breadcrumb Section Start ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Create a New Account</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Sign Up
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<!-- ======= Intro and Breadcrumb Section End ======= -->

<section class="intro1">
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <section id="loginForm">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary("", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 control-label" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-4 control-label" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                                <div class="col-md-12">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                                <div class="col-md-12">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-b">Submit</button>
                                </div>
                            </div>
                        }
                    </section>
                </div>
            </div>
            <div class="col">
                <div>
                    <section id="socialLoginForm">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/jquery.easing.min.js"></script>
<script src="~/Scripts/validate.js"></script>
<script src="~/Scripts/owl.carousel.min.js"></script>
<script src="~/Scripts/scrollreveal.min.js"></script>

<!-- Template Main JS File -->
<script src="~/Scripts/main.js"></script>
