@model Auction_Prop_API.Models.DataBaseModels.Retailer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Retailer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seller.FirtstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller.FirtstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetailerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetailerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompaynLogoPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompaynLogoPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Signature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Signature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyDescription)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
