@model Auction_Prop_Sellers.Models.DataViewModels.PromoVideoData

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddPromoVideo</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")



    <form action="" method="post" enctype="multipart/form-data">
        
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>PromoVideo</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.PropertyID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PropertyID, new {  @class = "form-control"  })
                    @Html.ValidationMessageFor(model => model.PropertyID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VideoPath, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.VideoPath,  new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.VideoPath, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
        </form>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
</body>
</html>
