@using Auction_Prop_Buyers.Models.DisplayMadels*
@using Microsoft.AspNet.Identity;

@using AutoMapper;
@model Property

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Auction-Prop.com | User Profile</title>

<!-- Favicons -->
<link href="~/assets/img/fat.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<script src="https://kit.fontawesome.com/ef4e2c1ac6.js" crossorigin="anonymous"></script>

<!-- Vendor CSS Files -->
<link rel="stylesheet" href="~/Content2/bootstrap1.min.css" type="text/css">
<link rel="stylesheet" href="~/Content2/ionicons.min.css" type="text/css">
<link rel="stylesheet" href="~/Content2/animate.min.css" type="text/css">
<link rel="stylesheet" href="~/Content2/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="~/Content/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/Content/font-awesome.css" type="text/css">

<!-- Template Main CSS File -->
<link href="~/assets/css/style.css" rel="stylesheet">

<!-- ======= Property Search Section Start ======= -->
<div class="click-closed"></div>

<div class="box-collapse">
    <div class="title-box-d">
        <h3 class="title-d">Search Property</h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
        <form class="form-a">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="form-group">
                        <label for="Type">Keyword</label>
                        <input type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword">
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="Type">Type</label>
                        <select class="form-control form-control-lg form-control-a" id="Type">
                            <option>All Types</option>
                            <option>Residential</option>
                            <option>Commercial</option>
                            <option>Agricultural</option>
                            <option>Investment</option>
                            <option>Bank Instruction</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="city">City</label>
                        <select class="form-control form-control-lg form-control-a" id="city">
                            <option>All City's</option>
                            <option>Johannesburg</option>
                            <option>Pretoria</option>
                            <option>Durban</option>
                            <option>Cape Town</option>
                            <option>Nelspruit</option>
                            <option>Polokwane</option>
                            <option>East London</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="bedrooms">Bedrooms</label>
                        <select class="form-control form-control-lg form-control-a" id="bedrooms">
                            <option>Any</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>3+</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="garages">Garages</label>
                        <select class="form-control form-control-lg form-control-a" id="garages">
                            <option>Any</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>3+</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="bathrooms">Bathrooms</label>
                        <select class="form-control form-control-lg form-control-a" id="bathrooms">
                            <option>Any</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>3+</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-b">Search Property</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- ======= Property Search Section End ======= -->

<!-- ======= Intro and Breadcrumb Section Start ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Your Profile</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            User Profile
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<!-- ======= Intro and Breadcrumb Section End ======= -->

@if (Request.IsAuthenticated)
{
    <h1>Profile</h1>
    RegisteredBuyer mod = new RegisteredBuyer();


    try
    {
        mod = APILibrary.APIMethods.APIGet<RegisteredBuyer>(User.Identity.GetUserId(), "RegisteredBuyers");

    }
    catch
    {

        mod = null;


    }


    if (mod == null)
    {
        <h2>Step 1: Buyer Registration</h2>
        <h3>
            You Are Not Registered As A Buyer
        </h3>
        @Html.ActionLink("Click here to register and qualify to bid on this Auction", "Index", "Buyers")
    }
    else if (mod.BuyerAddresses.Count == 0)
    {
        <h2>
            Step 2: Address
        </h2>
        <h3>
            In Order To Complete Your Registration You Need To Submit Atleast One Address
        </h3>
        @Html.ActionLink("Click here to enter youre address", "CreateAddress", "Buyers")
    }
    else
    {
        if (mod.AuctionRegistrations.Count > 0)
        {
            bool registered = false;
            bool bankG = false;
            bool guarintees = false;
            foreach (AuctionRegistration reg in mod.AuctionRegistrations)
            {
                if (reg.PropertyID == Model.PropertyID)
                {
                    if (reg.Bonded)
                    {
                        try
                        {
                            if (reg.BankApproval == null)
                            {
                                throw new Exception();
                            }
                        }
                        catch
                        {

                            <h2>
                                Step 3: Address
                            </h2>
                            <h3>
                                Please Submit Your Pre Approval Documents
                                For Any Assistance Please Contact One Of Our Bond Originators:  admin@infinitymortgagefinance.co.za
                            </h3>
                            @Html.ActionLink("Click here to Submit Bank Pre Approvals", "AdPreApproval", "Buyers", new { id = reg.id }, null)
                        }
                    }
                    else
                    {
                        try
                        {
                            if (reg.Guarintee == null)
                            {
                                throw new Exception();
                            }
                        }
                        catch
                        {

                            <h2>
                                Step 3: Address
                            </h2>
                            <h3>
                                Please Submit Your Pre Approval Documents
                                For Any Assistance Please Contact One Of Our Bond Originators:  admin@infinitymortgagefinance.co.za
                            </h3>
                            @Html.ActionLink("Click here to Submit Bank Guarintees", "AdPreApproval", "Buyers", new { id = reg.id }, null)
                        }
                    }
                    registered = true;
                    if (guarintees || bankG)
                    {
                        try
                        {
                            <h3>Congratulations</h3>
                            <p>You Are Now Registered To Bid On This Auction</p>
                            if (Model.Auction.StartTime >= DateTime.Now)
                            {
                                <p>This Auction Starts At @Model.Auction.StartTime</p>
                            }
                            else if (Model.Auction.StartTime <= DateTime.Now && DateTime.Now <= Model.Auction.EndTime)
                            {
                                @Html.ActionLink("Click Here to go to Auction", "Index", "AuctionRoom", new { id = Model.Auction.PropertyID }, null)
                            }



                        }
                        catch
                        {


                            <p>This Property Is Not Yet Scheduled For Auction</p>
                        }
                    }

                }
            }
            if (registered == false)
            {
                <h2>
                    Step 3: Auction Registration
                </h2>
                <h3>
                    You Need To Register For Each Property You Want To Bid On
                </h3>

                @Html.ActionLink("Click Here to Register for this Auction.", "RegisterForAuction", "Buyers", new { id = Model.PropertyID }, Model)
            }

        }
        else
        {
            <h2>
                Step 3: Auction Registration
            </h2>
            <h3>
                You Need To Register For Each Property You Want To Bid On
            </h3>

            @Html.ActionLink("Click Here to Register for this Auction.", "RegisterForAuction", "Buyers", new { id = Model.PropertyID }, Model)
        }

    }
}

else
{
    <h1>Profile</h1>
    <h5>You Have To Sign Up Or Login With Auction-Prop Before You Can Register For Any Auction</h5>
    <button onclick="@Html.ActionLink("Sign up | Log in","Register","Account")" />
}

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

<!-- ====== Vendor JS Files ====== -->
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/jquery.easing.min.js"></script>
<script src="~/Scripts/validate.js"></script>
<script src="~/Scripts/owl.carousel.min.js"></script>
<script src="~/Scripts/scrollreveal.min.js"></script>

<!-- ====== Template Main JS File ====== -->
<script src="~/Scripts/main.js"></script>
