@model IEnumerable<Auction_Prop_API.Models.DataBaseModels.Bid>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Auction.PropertyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisteredBuyer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmuntOfBid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOfbid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Auction.PropertyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisteredBuyer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmuntOfBid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOfbid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BidID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BidID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BidID })
        </td>
    </tr>
}

</table>
