@model Auction_Prop_Buyers.Models.DisplayMadels.AuctionRegistration

@{
    ViewBag.Title = "Auctionreg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Auction-Prop.com | Auction Registration</title>

<!-- Favicons -->
<link href="~/assets/img/fat.png" rel="icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<script src="https://kit.fontawesome.com/ef4e2c1ac6.js" crossorigin="anonymous"></script>

<!-- Vendor CSS Files -->
<link rel="stylesheet" href="~/Content2/bootstrap1.min.css" type="text/css">
<link rel="stylesheet" href="~/Content2/ionicons.min.css" type="text/css">
<link rel="stylesheet" href="~/Content2/animate.min.css" type="text/css">
<link rel="stylesheet" href="~/Content2/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="~/Content/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/Content/font-awesome.css" type="text/css">

<!-- Template Main CSS File -->
<link href="~/assets/css/style.css" rel="stylesheet">

<!-- ======= Property Search Section Start ======= -->
<div class="click-closed"></div>

<div class="box-collapse">
    <div class="title-box-d">
        <h3 class="title-d">Search Property</h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
        <form class="form-a">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="form-group">
                        <label for="Type">Keyword</label>
                        <input type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword">
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="Type">Type</label>
                        <select class="form-control form-control-lg form-control-a" id="Type">
                            <option>All Types</option>
                            <option>Residential</option>
                            <option>Commercial</option>
                            <option>Agricultural</option>
                            <option>Investment</option>
                            <option>Bank Instruction</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="city">City</label>
                        <select class="form-control form-control-lg form-control-a" id="city">
                            <option>All City's</option>
                            <option>Johannesburg</option>
                            <option>Pretoria</option>
                            <option>Durban</option>
                            <option>Cape Town</option>
                            <option>Nelspruit</option>
                            <option>Polokwane</option>
                            <option>East London</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="bedrooms">Bedrooms</label>
                        <select class="form-control form-control-lg form-control-a" id="bedrooms">
                            <option>Any</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>3+</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="garages">Garages</label>
                        <select class="form-control form-control-lg form-control-a" id="garages">
                            <option>Any</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>3+</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="form-group">
                        <label for="bathrooms">Bathrooms</label>
                        <select class="form-control form-control-lg form-control-a" id="bathrooms">
                            <option>Any</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>3+</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-b">Search Property</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- ======= Property Search Section End ======= -->
<!-- ======= Intro and Breadcrumb Section Start ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Auction Registration</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Auction Registration
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<!-- ======= Intro and Breadcrumb Section End ======= -->

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <section class="intro1">
        <div class="form-horizontal">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div>

                            <div class="form-group">
                                <label>Bonded</label>
                                <div class="col-md-10">
                                    <div class="checkbox">

                                        @Html.RadioButtonFor(model => model.Bonded, "true")
                                        @Html.ValidationMessageFor(model => model.Bonded, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <label>Cash</label>
                                <div class="col-md-10">
                                    <div class="checkbox">

                                        @Html.RadioButtonFor(model => model.Bonded, "false")
                                        @Html.ValidationMessageFor(model => model.Bonded, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="container" style=" max-height:500px; overflow: scroll;">
                                <div class="row">
                                    <!-- Content -->
                                    <div class="col-md-9 col-sm-9">
                                        <div id="content">
                                            <section id="legal">
                                                <strong>TERMS AND CONDITIONS</strong><br />
                                                Persons accessing the Auction-Prop web site, subject themselves to and agree to Auction-Prop terms conditions and privacy policy, as set out below.<br />
                                                1. REGISTRATION AND ACCOUNT CREATION PROCESS <br />
                                                Every Participant must register an account on www.auction-prop.com in order to participate in any Auction. To participate as a bidder in an Auction, Participants will have to complete a full registration as well as pay a refundable registration fee. The registration fee will be indicated on the property listing page. As part of the registration process you will be required to upload, on the participant’s profile page, the following documents:<br />
                                                • Copy of ID<br />
                                                • Selfie photograph of the participant holding their identification<br />
                                                • Proof of Address<br />
                                                • Letter of authority if bidding on behalf of an entity<br />
                                                Winning Buyer’s registration fee will be applied towards the required “Buyer’s holding”, unless the registration fee was made by a credit card hold, in which case such hold will be released after confirmation that the “Purchase Documents” have been fully signed and the Auctioneers Commission has been received timely. All registration fees from Participants other than Winning Buyer will be refunded after the Event within 72 (seventy-two) hours of the end of the auction. If any of the above registration terms are not met the registration cost will be retained.<br />
                                                2. OFFER TO PURCHASE<br />
                                                2.1 Irrevocability of Offers<br />
                                                All Offers submitted during the Auction are irrevocable, except where an Offer withdrawal option is expressly made available to Participants through the Auction-Prop Website.<br />
                                                2.2 Signing Offer to Purchase<br />
                                                The final Auction Sales Agreement will be emailed or delivered to the Winning Buyer for signature using the email address associated with Winning Buyer’s account or address supplied by the buyer. The Winning Buyer must sign & submit the Offer to Purchase via email to their assigned Auction-Prop consultant within 24 (Twenty-Four) hours (unless a longer time frame is specified in writing by Auction-Prop) after it is sent to the Winning Buyer by Auction-Prop. If the Winning Buyer fails to timely sign the Auction Sales Agreement, Auction-Prop or the Seller may declare the Winning Buyer to be in default of these Terms and the Seller and they will be placed on terms by the Conveyancing attorney<br />
                                                3. PAYMENTS<br />
                                                3.1 The Purchaser shall be liable for the following 3 (three) payments:<br />
                                                i. The Purchaser has 45 days to deliver guarantees to the conveyancer, guarantees are only for the convenience of the purchaser. If the Purchaser does not get a loan at the bank, the Purchaser shall still be liable for payment.<br />
                                                ii. The Auctioneer’s commission (calculated at 10% of the purchase price plus VAT). Payable into the account of the auctioneer. The Purchaser shall make payment:<br />
                                                ◦ Where the Reserve price is met within two business days from date of the Auction: or<br />
                                                ◦ Where the Reserve price was not met and the Purchaser made an offer the seller accepted within two business days after date of signature.<br />
                                                iii. Transfer Costs and Transfer Duties (if applicable) that needs to be paid to the Conveyancing attorneys<br />
                                                3.2 Proof of Funds and Additional Information<br />
                                                Auction-Prop or the Seller may require Participants to provide proof of readily available funds or additional information at any time prior to registration approval, submission of an Offer, or acceptance of an Offer. If Auction-Prop or the Seller requires the Winning Buyer to provide proof of funds and/or additional information and same is not timely received, Auction-Prop or the Seller may reject the Winning Buyer’s Offer.<br />
                                                3.3 Entity Buyers<br />
                                                Winning Buyers wanting to take transfer in the name of an entity may be required to provide entity information documents and resolutions authorizing the purchase within the timeframe specified by Auction-Prop which may be before or after the Auction, in Auction-Prop’s sole discretion. The Seller or the nominated conveyancing attorney may require additional documentation prior to closing.<br />
                                                3.4 Liabilities<br />
                                                The Purchaser shall not be held liable for any arrears at the municipality or body corporate (if applicable) unless agreed upon by both parties or the offer to purchase.<br />

                                                4. THE PROPERTY<br />
                                                The Property is sold “As Is”, “Voetstoot” and subject to the terms and conditions and servitudes mentioned or referred to in the current and/or prior Title Deeds and to the conditions of establishment of the Township in which it is situated and to the zoning applied to it under any Town Planning Scheme. The SELLER shall not profit by any excess nor shall it be answerable for any deficiency. Agreement by any express or implied information, statement, advertisement or representation made or given any warranties in respect of the Property or anything relating thereto, by the Agent or any other person, or by or on behalf of the Seller and that is not contained in this Agreement.<br />
                                                5. AUCTION<br />
                                                5.1 General Information<br />
                                                We are selling per rising bid. Currency is South African Rand. On the fall of the hammer, the highest bidder (the “Purchaser”) is bound to his Agreement of Sale The Seller (the applicable status will be announced): is a VAT vendor which means that VAT, calculated at 15% of the purchase price, will be payable; or is not a VAT vendor which means that normal duties will be payable to the Receiver of Revenue. If the Reserve price is met, the auction becomes absolute and the property is sold to the highest bidder and an Agreement of Sale is concluded (Regulation 28(8) of the CPA). In the event that the highest bid falls short of the Reserve price, the Auctioneer will, in terms of regulation 28(6) of the CPA, knock the property “subject to confirmation” in order to allow the Seller to confirm or reject the highest bidder’s offer during the acceptance period. The acceptance period in this instance<br />
                                                5.2 Reserve Price<br />
                                                Unless otherwise stated, all Properties at an auction has a minimum selling price established by the Seller (“Reserve Price”). The starting bid is not the Reserve Price. Auction-Prop may counter bid on behalf of the Seller on any Property up to, but not exceeding, the amount of the Reserve Price, and no such bid will result in a sale of the Property. If the Reserve Price is not met, the Seller is under no obligation to sell the Property; however, the Seller may accept a bid that is below the Reserve Price in its sole and absolute discretion.<br />
                                                5.3 Closed Bid Events<br />
                                                For Properties to be marketed in a Closed Bid Event, Participants are invited by Auction-Prop or the Seller to submit a non-binding indicative bid (“Indicative Bid”) before the Closed Bid Event. In order to submit an Indicative Bid, Participant must complete an Indicative Bid Form posted on the Property Page prior to the auction date. No deposit is required to submit an Indicative Bid., however, Participant registration is required. Submission and acceptance of an Indicative Bid does not legally bind either the Participant or the Seller. If the Seller decides to proceed with the<br />
                                                5.4 Extension of Auction Time<br />
                                                The extension of time will allow for delays in bids reaching the platform due to connection challenges. If a bid is made within 60 seconds of the closing time of the online auction, the timer will automatically add another 60 seconds onto the auction timer. This process will repeat until no more bids are received. Auction-Prop may extend the time for bidding in any auction Event in its sole and absolute discretion.<br />






                                                6. DUE DILIGENCE<br />
                                                6.1 Transaction Documents<br />
                                                Prior to bidding, Participants must review the Auction Sale agreement, any applicable addenda, property due diligence documentation, and all other transaction documents (collectively, “Transaction Documents”), which can be accessed on the Properties Page. All Offers must be written on the posted Transaction Documents. For auctions, any queries or negotiation on revisions on any terms and/or clauses contained in the Transaction Documents must be concluded, and agreed to, no later than 48 hours prior to the auction start time with all parties having agreed to such revisions in writing. For non-auction Events, all revised terms agreed to by the “Parties” shall be incorporated into the final Transaction Documents where applicable.<br />
                                                6.2 Due Diligence<br />
                                                It is each Participant’s responsibility to conduct their own due diligence and investigate all matters relating to each Property that the Participant is interested in purchasing, including, without limitation, legal matters, physical condition and attributes, environmental matters, economic matters, encumbrances, and all other aspects. The Participant must coordinate any such inspection with the Seller, Seller’s Representative or Nominated Sales Consultant. In some circumstances the Seller, Seller’s Representative or Sales Consultant may be unable to provide physical access for inspections, and Participants must submit an Offers accordingly at their own risk. All Offers should be based solely on the Participant’s independent due diligence and any information contained in the Transaction Documents. Property information has been gathered from a variety of sources and has not been independently verified by Auction-Prop. Participants are encouraged to consult with a team of professionals including, but not limited to licensed real estate agents; contractors; attorneys; financial advisors; tax advisors; town planners and engineers. The Participant is responsible for all liability, damages, and costs directly or indirectly arising from the Participant’s inspection, visit, or investigation of the Property.<br />


                                                7. GENERAL INFORMATION<br />
                                                The Seller and Auction-Prop reserve the right to deny, limit, or impose conditions on submitting Offers or access to the Website or any Event at any time, for any reason, including, without limitation, Participant’s solvency, credit history, transaction history, and registration fees. Auction-Prop may postpone or cancel an Auction or Event, rearrange the order or sequence of the Properties in the Event, modify these Terms by posting notice of modification on the Properties Page, remove any Property from the Auction or Event, or reject any or all Offers Auction-Prop, the Sellers and their agents may issue press releases and other public communications regarding the Auction and any Property offered or sold during an Auction. These Terms and the conduct of each Auction shall be governed by the Consumer Protection Act No. 68 of 2008 (“the CPA”) Auction-Prop may place Offers on behalf of Participants in accordance with their instructions. Auction-Prop is not responsible for failing to place any such Offer or for any errors that may occur during the placement of any such Offer.<br />
                                                Any information on any website, in any brochure, e-mail, or postcard, and any information available regarding the Properties shall not constitute an offer to sell or a solicitation of any offer to buy any of the Properties. Offers submitted or solicitations made during any Auction are void where prohibited by law. As between the Seller and the Participant, no obligation to sell shall be binding on the Seller unless and until the Purchase Documents have been signed and delivered by the Seller and the Buyer’s Deposit has been received as required hereunder. After the Auction Sale Agreement has been fully signed, the Auction Sales Agreement shall govern the relationship between the Winning Buyer and Seller.<br />


                                                8. DISCLAIMERS; PARTICIPANT REPRESENTATIONS; CANCELLATION<br />
                                                Auction-Prop makes no representations or warranties of any kind or character whatsoever, whether express or implied, with respect to any property or legal sufficiency or tax consequences of any document provided by Auction-Prop. Each participant hereby releases Auction-Prop and its employees, officers, directors, representatives, attorneys, brokers and agents (collectively, "representatives") from any and all claims that any such participant may now have or hereafter acquire against Auction-Prop or any of its representatives for any damage or injury resulting form or relating to any errors.<br />


                                                9. THE RULES OF THE AUCTION COMPLY WITH SECTION 45 OF CONSUMER PROTECTION ACT 68 OF 2008 AND THE REGULATIONS THERETO (THE CPA)<br />
                                                The Rules (“Rules”) contained in this document apply to each auction, marketing or transactional events (“Event”) conducted by Auction-Prop (“Auction-Prop”) on behalf of a Seller (“Seller”) of property (“Property”, and in a collective, “Properties”). As indicated in these Rules, every prospective buyer who participates, in any Auction or event, is referred to as a “Participant”. As used in these Rules, the terms “Auction-Prop”, “Seller” and “Participant” also refer to the respective principals, agents, and affiliates of each. Highest Bidder or Winning Buyer (“Winning Buyer”) is the Participant that (a) Submits the highest net bid in any Auction and is acknowledged by a member of “Auction-Prop” by email or telephone as the winning bidder, or (b) Submits any offer during any Auction that is accepted by the Seller. As indicated in these Rules, each bid or offer submitted in any Auction is an “Offer”.<br />
                                                Auction-Prop conducts all Auction Events solely on behalf of the Seller and is not in any way acting as an agent for any Participant in any capacity. By registering for an Auction or submitting an Offer at www.auction-prop.com, the Participant acknowledges having read and accepted these Terms. By submitting an Offer on any Property, the Participant is deemed to have accepted any additional terms and conditions posted on the Property’s details page on the Website (“Property Page”) at the time the Offer was submitted, and such terms and conditions govern and control over these Rules to the extent of any conflict. Auction-Prop’s Terms of Use and Privacy Policy is incorporated into these Terms by reference. The headings of the clauses are for the purpose of convenience and reference only and shall not be used in the interpretation of nor modify nor amplify the terms of this Agreement nor any clause<br />
                                                11. DEFINITIONS<br />
                                                In this document, unless a contrary intention clearly appears, the terms shall have the meanings assigned to hereunder and cognate expressions shall have corresponding meanings, namely:<br />
                                                a. “CPA” shall mean Section 45 of the Consumer Protection Act 68 of 2008 and the Regulations thereto.<br />
                                                b. “Rules”shall mean the Participation Rules.<br />
                                                c. “Auction-Prop”shall mean Auction-Prop Auctioneers.<br />
                                                d. “Property/Properties”shall mean the immovable property advertised on the Auction-Prop platform for which the Participant is bidding.<br />
                                                e. “Event”shall mean the online auction hosted by Auction-Prop.<br />
                                                f. “Seller”shall mean the registered owner of the property being auctioned during the Event.<br />
                                                g. “Participant”shall mean the fully registered bidder on Auction-Prop’s online auction platform<br />
                                                h. “Registration fee”shall mean the monies a Participant pays in order to bid on a Property<br />
                                                i. “Winning Buyer”shall mean the Participant that places the highest bid on the Property at any online Auction and subject to confirmation by the Seller<br />
                                                j. “Purchase documents”shall mean the Auction-Prop’s Auction Sale Agreement<br />
                                                k. “Buyer’s deposit”shall mean the amount specified in the Transaction Documents or the Property Listing Page for the Property<br />
                                                l. “Transaction documents”shall mean the Auction Sale Agreement (including addenda), the Property due diligence documentation and all other documents pertaining to the transaction<br />
                                                m. “Offer”shall mean the highest bid made by the Winning Buyer<br />
                                                n. “Parties”shall mean the Seller, Winning Buyer and Auction-Prop<br />
                                                o. “Nominated conveyancer”shall mean the transfer attorney appointed by the Seller<br />
                                                p. “Buyer’s premium/transaction fee”shall mean the amount showing on the Property Listing Page due by the Winning Buyer together with the Offer amount prior to closing the transaction<br />
                                                q. “Properties Page”shall mean the page on Auction-prop’s platform containing the Property details for the Event<br />
                                                r. “Reserve price”shall mean the minimum selling price as established by the Seller<br />
                                                s. “Closed bid event”shall mean a closed bid process in which Participants are invited either by the Seller or by Auction-Prop<br />
                                                t. “Indicative bid”shall mean a non-binding bid made by a Participant during the Closed Bid Event<br />

                                            </section><!-- /#agent-detail -->
                                        </div><!-- /.col-md-9 -->
                                        <!-- end Content -->

                                    </div><!-- /.row -->
                                </div><!-- /.container -->
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Signiture, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Signiture)
                                        @Html.ValidationMessageFor(model => model.Signiture, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Submit" class="btn btn-b" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <div>
                                        @Html.ActionLink("Back to List", "Index")
                                    </div>
                                </div>
                            </div>

                        </div>
                </div>
            </div>
        </div>
    </section>

}

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/jquery.easing.min.js"></script>
<script src="~/Scripts/validate.js"></script>
<script src="~/Scripts/owl.carousel.min.js"></script>
<script src="~/Scripts/scrollreveal.min.js"></script>

<!-- Template Main JS File -->
<script src="~/Scripts/main.js"></script>
