@model Auction_Prop_API.Models.DataBaseModels.Seller

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Seller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrivateSeller.IDNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrivateSeller.IDNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Retaileler.RetailerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Retaileler.RetailerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirtstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirtstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Signature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Signature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovalStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
