@model Auction_Prop_API.Models.DataBaseModels.Deposit

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Deposit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegisteredBuyer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisteredBuyer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepositReturned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepositReturned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProofOfPaymentPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProofOfPaymentPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProofOfReturnPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProofOfReturnPayment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BuyerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
